@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=Space+Grotesk:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Tüm sayfa için Scrollbar'ı gizle */
  html {
    scrollbar-width: none; /* Firefox için */
    -ms-overflow-style: none; /* IE ve Edge için */
  }

  /* Chrome, Safari ve Opera için */
  html::-webkit-scrollbar {
    display: none;
  }
  
  /* Eğer body üzerinde de scroll varsa onu da garantiye alalım */
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
}